body {
    margin: 20px;
    font-size: 16px;
    background-color: rgb(182, 132, 127);
}

.container {
    float: right;
    margin-right: 40px;
}

.custom {
    background-color: rgb(219, 204, 185);
    max-width: 700px;
    margin: 40px auto;
    border-radius: 10px;
    padding: 30px;
}

.custom.hide {
    display: none;
}

.home-box h1,
p {
    padding: 2px;
}

.custom button {
    background-color: rgb(86, 32, 58);
    color: white;
    border-radius: 10px;
    padding: 15px 45px;
    cursor: pointer;
}

.quiz-box.question-number {
    border-bottom: 2px solid black;
    font-weight: 500;
    padding: 10px;
    line-height: 20px;
    color: rgb(128, 39, 82);
    font-size: larger;
    font-weight: 800;
}

.quiz-box .question-text {
    padding: 20px;
    line-height: 20px;
    font-weight: 300;
    font-size: large;
}

.quiz-box .option-container .option {
    padding: 15px;
    font-size: medium;
    line-height: 20px;
    color: aliceblue;
    background-color: rgb(104, 75, 88);
    border-radius: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    opacity: 0;
    animation: fadeIn 0.5s ease forwards;

}

.quiz-box .option-container .option:hover {
    background-color: rgb(197, 149, 127);
    transform: scale(1.03);
}

.quiz-box .option-container .option.correct::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: green;
    z-index: -1;
    animation: slideInLeft .5s ease forwards;
}

.quiz-box .option-container .option.wrong::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: red;
    z-index: -1;
    animation: slideInLeft .5s ease forwards;
}

.quiz-box .option-container .option.option.already-answered {
    pointer-events: none;

}

.quiz-box .next-btn {
    margin-top: 20px;
}

.result-box {
    text-align: center;
}

.result-box p {
    font-size: larger;
}

.quiz-box.active {
    left: 0;

}

.quiz-section {
    position: relative;
    left: 0;
    width: 100%;
    transition: .8s ease-in-out;
    z-index: 100;
    transition-delay: .25s;
}

.quiz-section .quiz-box {
    position: relative;
    width: 500px;

}

@keyframes fadeIn {
    0% {
        opacity: 0;
        ;
    }

    100% {
        opacity: 1;
        ;
    }
}

@keyframes slideInLeft {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0%);
    }
}

@media(max-width:770px) {
    .result-box .btn {
        margin-bottom: 10px;
    }
}